/* Navbar.css */

nav {
    width: 100%;
    color: #fff;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  .logo {
    width: 200px;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
  }
  
  .dark-nav {
    background: #212EA0;
    transition: 0.5s;
  }
  
  .menu-icon {
    display: none;
  }
  
  /* ----- media query ------- */
  @media (max-width: 1000px) {
    .logo {
      width: 140px;
    }
  
    nav ul li {
      margin: 10px 15px;
    }
  }
  
  @media (max-width: 840px) {
    nav {
      padding: 15px 0;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background: #212EA0;
      z-index: -1;
      width: 200px;
      padding-top: 70px;
      transition: 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 25px 40px;
    }
  
    .menu-icon {
      display: block;
      width: 30px;
      cursor: pointer;
    }
  
    .hide-mobile-menu {
      right: -200px;
    }
  }
  
  .signin-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .signin-dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .signin-dialog h2 {
    margin-top: 0;
    text-align: center;
    color: black;
  }
  
  .signin-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signin-dialog form div {
    margin-bottom: 15px;
    width: 80%;
  }
  
  .signin-dialog form label {
    margin-bottom: 5px;
    display: block;
    color: black;
  }
  
  .signin-dialog form input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;

  }
  
  .signin-dialog form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 20px;
  }
  
  .signin-dialog form button:hover {
    background-color: #0056b3;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
  }
  